body 
{
	font-family: Helvetica;
}
.title
{   
  text-shadow: 6px 6px 6px #CE5937;
  font-style:italic;
  font-weight:bold; 
  font-size:60px;
}

 .uppercase
 {
    text-transform: uppercase;
 }

 .bg-img{
     background-image: url("../images/bg/cygnus.jpg");
     background-size: cover;
     background-position: center;
     background-color:rgba(123,104,238,0.5);
 }

 /* nav {
    position:absolute;
    top:0px;
 }*/

 .opacity{
    background-color: rgba(255,255,255,0.5);
    padding-top:5%;
    padding-bottom:12%;
 }


.textjustify
{
    text-align:justify;
    padding:10px;
}

.textjustify2
{
    text-align:justify;
   
}

.italic{
    font-style: italic;
}


.whitestrong {   
    color:white;
    font-size:22px;
    font-weight:bold;
}


.illustration
{
    height:300px;
    width:300px;
}

.margin-box
{
    margin-bottom:25px;
}

.marginMessage{
    margin-top: 250px;
    margin-bottom: 400px;

}

.error {
    color:red;
	font-size:12px;
}

.valid {
    border-color: greenyellow;
}

.notValid {
    border-color: red;
}

a{
    text-decoration:none;
    color:white;
}

.styleAdmin{ 
    width:20em;
}


.commentback{
    background-color: lightgray;
    border:1px solid black;
    border-radius:10px;
}

.containerback{
    border-radius:10px;	
}

.answer{       
    padding-top:120px;    
    padding-bottom:120px;    
}

/*Fieldset*/
.text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
  }
  .panel {
    /* for text on pannel */
    margin-top: 27px !important;
  }
  .panel-body {
    padding-top: 30px !important;
  }
  
  .panel-primary{
  border : 1px solid gold;
  padding: 0 10px 10px 10px;
  border-radius: 15px;
  }
  /* Fin du Fieldset*/
  
  
 .chart  /* border d'un graphique */
 {
	width:518px;
	border:1px red solid;
	padding:10px;
	text-align:justify;
 }
 
 .muted{
	 color:#777;
 }
 
 .time-read{ 
  background-color: lightgoldenrodyellow;
  margin-left:40px;
  border-radius:15px;
  padding:10px;
  width:25%;
}


/* Styles du  label et de l'input */
label {
  position: relative;
}

label input {
  font-size: 1em;
  /*color: #f9f9f9;*/
  background: transparent;
  padding: 1rem 1.2rem;
  width: 250px;
  border-radius: 5px;
  border: 2px solid #7a7a7a;
  transition: all 0.2s;
}

nav ul a:hover{color:white;}


/* Style de l'input au focus  */
label input:focus {
  border-color: #ff4754;
}

/* styliser l'icône Afficher et Cacher */
label .password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 85%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  color: black;  
  transition: all 0.2s;
}


.fa {
	padding-bottom:28px;
}
/* Fin de stylisation de l'icône Afficher et Cacher*/

/* configuration du footer en bas de la page  (body, html + bodyr + footer */

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
footer {
	display : table-row;
	height: 7vh;
}
/*fin de  configuration du footer en bas de la page  */

/* Centrage du bloc de pagination */
.pagination{   
    position: absolute; /* postulat de départ */
    left: 50%; /* à 50% du parent référent */
    transform: translate(-50%); /* décalage de 50% de sa propre taille */
    font-weight:bold;
}

